* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

body {
  background-color: #f8f9fd;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  margin: 0px 2em;
}

header {
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .reddit-logo {
  flex-basis: 20%;
  height: 5em;
}

header .reddit-logo img {
  /* width: 100%; */
  height: 100%;
  object-fit: cover;
}

header .header-icon {
  flex-basis: 60%;
}

header .header-icon ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

header .header-icon .bx {
  font-size: 2em;
  color: rgb(193, 193, 193);
}

header .header-icon .bxs-home {
  color: #ff4500;
}

header .header-icon ul li {
  display: inline-block;
}

header .input-icons i {
  position: absolute;
  margin: 8px;
  /* padding-left: 1em; */
  margin-left: .6em;
  font-size: 1.7em !important;
}

header .input-icons {
  width: 100%;
}

header .input-field {
  /* width: 100%;
  padding: .5em 0px;
  padding-left: 3em;
  font-size: 1em;
  border-radius: 25px;
  background-color: rgb(231, 231, 231);
  border: transparent;
  font-weight: bold;
  height: 7vh; */

  background: url("https://cdn-icons-png.flaticon.com/512/151/151773.png") no-repeat 5% 50%;
  background-size: 20px;
  width: 100%;
  padding: 10px 60px;
  border-radius: 25px;
  background-color:rgb(231, 231, 231);
  border: transparent;
  font-size: 1em;
}

header .profile-name {
  flex-basis: 20%;
  display: flex;
  align-items: center;
}

header .profile-name .user-pic {
  height: 4em;
}

header .profile-name .user-pic img {
  height: 100%;
  width: 100%;
}

header .profile-name .name-follower {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 1em;
}

header .profile-name .name-follower .name {
  font-weight: bold;
}

header .profile-name .name-follower .number {
  font-weight: bold;
}

main {
  grid-column: 1 / span 3;
  grid-row: 2 / span 1;
  display: flex;
}

main .left-main {
  flex-basis: 20%;
}

main .left-main .profile-picture {
  height: 50px;
}

main .left-main .hot-right-now {
  background-color: rgb(255, 255, 255);
  border-radius: 17px;
  padding: 10px;
}

main .left-main .hot-right-now .title {
  font-weight: bold;
  font-size: 1.3em;
}

main .left-main .hot-right-now .hot-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .9em;
}

main .left-main .hot-right-now .hot-title i {
  font-size: 2em;
  color: rgb(193, 193, 193)
}

main .left-main .hot-right-now ul li div {
  /* display: flex; */
}

main .left-main .hot-right-now ul li {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 8px 0px;
}

main .left-main .profile-picture {
  border-radius: 25px;
  background-color: #343434;
  width: 50px;
  height: 50px;
}

main .left-main .profile-picture img {
  height: 100%;
  max-width: 100%;
}

main .left-main .hot-right-now .hashtag {
  font-weight: bold;
  font-size: 1em;
  margin-left: 4%;
}

main .left-main .hot-right-now .hashtag .r-slash {
  color: #ff4500;
}


main .center-main {
  flex-basis: 60%;
  margin: 0px 1%;
}

main .right-main {
  flex-basis: 20%;
}

main .center-main .post-main .profile-icon {
  
  border-radius: 50%;
}

main .center-main .post-main .profile-icon img {
  height: 100%;
  width: 100%;
  height: 90px;
  width: 90px;
}

main .center-main .post-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  height: auto;
  padding: 10px;
  border-radius: 17px;
}

main .center-main .post-main .post-input-icon {
  background: url("https://cdn-icons-png.flaticon.com/512/45/45010.png") no-repeat 95% 50%;
  background-size: 20px;
  width: 100%;
  resize: vertical;
  padding: 10px 25px;
  border-radius: 25px;
  background-color:rgb(231, 231, 231);
  border: transparent;
  font-size: 1em;
}

main .center-main .post-main .post-input {
  width: 75%;
}

main .center-main .post-main .button-post button {
  padding: 10px 30px;
  font-size: 1em;
  border: transparent;
  background-color: #ff4500;
  color: rgb(255, 255, 255, 0.7);
  border-radius: 25px;
}

main .center-main .content {
  padding: 10px;
  background-color: #ffff;
  border-radius: 17px;
  margin: 2% 0px;
}

main .center-main .content img {
  height: 100px;
}

main .center-main .content .username-options img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

main .center-main .content .username-options .user-post {
  display: flex;
  align-items: center;
}

main .center-main .content .username-options .user-post p {
  color: rgb(0, 0, 0, 0.6);
  font-weight: bold;
}

main .center-main .content .username-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .center-main .content .username-options .posted-date p {
  color: rgb(0, 0, 0, 0.6);
  font-weight: bold;
}

main .center-main .content .post-content p {
  font-size: 1.2em;
  font-weight: bold;
}

main .center-main .content .post-content .image {
  width: 100%;
  height: 60vh;
}

main .center-main .content .post-content .image img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 17px;
}

main .center-main .content .user-post-interact {
  display: flex;
  justify-content: space-between;
}

.user-post-interact .arrow {
  display: flex;
}

.user-post-interact .arrow .bx {
  font-size: 3em;
}

.user-post-interact .arrow .arrow-up {
  display: flex;
  align-items: center;
  color: green;
}

.user-post-interact .arrow .arrow-down {
  display: flex;
  align-items: center;
  color: red;
}

.user-post-interact .comment-share-favorite .bx {
  font-size: 1.7em;
}

.user-post-interact .comment-share-favorite {
  display: flex;
  align-items: center;
}

.user-post-interact .comment-share-favorite .comment {
  display: flex;
  align-items: center;
}

.user-post-interact .comment {
  background-color: #f3f0f1;
  padding: 5px 16px;
  border-radius: 17px;
  color: rgba(0, 0, 0, 0.5);
}

.user-post-interact .comment p {
  font-weight: bold;
}

.user-post-interact .share {
  background-color: #f3f0f1;
  padding: 5px 16px;
  border-radius: 17px;
  color: rgba(0, 0, 0, 0.5);
}

.user-post-interact .heart {
  background-color: #f3f0f1;
  padding: 5px 16px;
  border-radius: 17px;
  color: rgba(0, 0, 0, 0.5);
}

main .right-main .popular-post {
  background-color: #ffff;
  padding: 10px;
  border-radius: 17px;
}

main .right-main .popular-post .popular-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: center;
}

main .right-main .popular-post .popular-title h2 {
  font-weight: bold;
  font-size: 1.3em;
}

main .right-main .popular-post .popular-title i {
  font-size: 2em;
  color: rgb(193, 193, 193);
}

main .right-main .popular-post ul {
  list-style: none;
}

.popular-post ul li {
  display: flex;
  align-items: center;
  margin: 10px 0px;
}

.popular-post ul li .popular-image {
  border-radius: 25px;
}

.popular-post ul li .popular-image .bxs-hot {
  color: #ff4500 !important; 
}

.popular-post ul li .popular-image i {
  font-size: 2.5em;
  color: rgb(193, 193, 193);
}

.popular-post ul li .popular-name {
  margin-left: 4%;
  font-weight: bold;
  font-size: 1em;
}